{% extends "invlayout.html" %}
{% block title %}

{% endblock %}
{% block main %}

<div class="container w-100">
    <div class="row h-100">

        <div class="col-lg-4 col-lg-12 mb-4 text-light">
            <div class="p-5">
                <form id="edit" action="/updateguitars" method="POST" enctype="multipart/form-data">
                    {% for j in info %}
                    <input hidden id="edit" name="edit" type="text" value="{{ j['serial'] }}">
                    <h1 class="display-6"><input class="panel-edit w-auto" id="name" name="name" type="text"
                            value="{{ j['name'] }}"></h1>
                    <p class="text-sm"><input class="panel-edit w-auto" id="summary" name="summary" type="text"
                            value="{{ j['summary'] }}"></p>
                    <p class="text-sm"><textarea class="panel-edit w-100" id="editabout" name="about" type="text"
                            rows="5">{{ j['about'] }}</textarea></p>
                    <p class="text-sm">$<input class="panel-edit w-auto" id="price" name="price" type="text"
                            value="{{ j['price'] }}"></p>
                    <p class="text-sm">Serial# <input class="panel-edit w-auto" id="serial" name="serial" type="text"
                            value="{{ j['serial'] }}"></p>
                    {% endfor %}
                    <div class="d-grid w-25 mx-auto">
                        <button class="btn btn-primary btn-xl" type="submit">Update info</button>

                </form>
            </div>
            <div class="justify-content-center mt-5 p-3 text-center">
                {% for i in gallery %}
                <a href="{{ i['photo'] }}" target="_blank">
                    <img class="img-responsive p-1" src="{{ i['photo'] }}" alt="{{ i['name'] }}" style="width: 30vw;">
                </a>
                {% endfor %}

            </div>
        </div>
        <div class="d-grid w-25 mx-auto text-center">
            <form id="photoedit" action="/editphoto" method="POST" enctype="multipart/form-data">
                {% for j in info %}
                <button class="btn btn-primary btn-xl" name="photoedit" value="{{ j['serial'] }}" type="submit">Edit
                    photos <i class="bi bi-arrow-right-circle"></i></button>
                {% endfor %}
            </form>
        </div>
    </div>
</div>


<a class="w-auto text-light" id="goback" href="/inv"><i class="bi bi-arrow-left-circle"></i></a>



{% endblock %}