{% extends "invlayout.html" %}
{% block title %}

{% endblock %}
{% block main %}

<script>
    function eventCheckBox() {
  let checkboxs = document.getElementsByTagName("input");
  for(let i = 0; i < checkboxs.length ; i++) { //zero-based array
    checkboxs[i].checked = !checkboxs[i].checked;
  }
}
</script>

<div class="container-fluid px-5">
    <table class="table table-dark table-responsive table-sm">
    <tr>
    <th class="text-muted">
        edit
    </th>       
      <th>
          name
      </th>
      <th>
          serial
      </th>
      <th>
          about
      </th>
      <th>
          price
      </th>
      <th>

      </th>
    </tr>
    {% for i in rows %}
    <tr>
        <td>
            <form class="border-0" id="del" action="/edit" method="POST" enctype="multipart/form-data">
                <input name="edit" type="text" id="edit" value="{{ i['serial'] }}" hidden>
            <button id="submitButton" type="submit" class="btn btn-xs" name="edit">
                <i class="bi bi-pencil text-info"></i>
            </button>
            </form>
        </td>
        <td>
            {{ i['name'] }}
        </td>
        <td>
            {{ i['serial'] }}
        </td>
        <td>
            {{ i['summary'] }}
        </td>
        <td>
            ${{ i['price'] }}
        </td>

    </tr>
    {% endfor %}
    </table>
  </div>

{% endblock %}